.login-container {
    width: 100vw;
    height: 100vh;
    background-color: beige;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;



    .login-area {
        width: 30%;
        margin-top: 10px;

        .form-area {
            width: 100%;
            height: 100%;


            .input-area {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;


                label {
                    width: 100%;
                    position: relative;

                    span {
                        width: 70px;
                        display: inline-block;
                    }
                }

                input {
                    width: 70%;
                    height: 30px;
                    margin: 5px 0px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid black;
                    color: #595f63;
                    outline: none;

                    &:focus {
                        animation: showInput 1s linear forwards;
                    }
                }

                p {
                    width: 100%;
                    text-align: right;
                    margin-top: 10px;

                    span {
                        cursor: pointer;
                    }
                }
            }

            button {
                width: 100%;
                height: 40px;
                margin-top: 10px;
                background-color: yellowgreen;
                border: none;
                cursor: pointer;
                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            }
        }
    }

    .join-modal {
        width: 70%;
        height: 70%;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        form {
            width: 50%;


            label {
                width: 100%;
                margin: 2px 0px;

                p {
                    width: 100px;
                    text-align: left;
                    margin: 5px 0px;
                }

                input {
                    width: 100%;
                    height: 30px;
                }

                span {
                    font-size: 10px;
                }
            }

            button {
                width: 100%;
                height: 30px;
                margin-top: 20px;
                border: none;
                color: white;
                background-position: left;
                background-color: yellowgreen;
                cursor: pointer;

            }
        }
    }

    .join-modal-action {
        display: flex;
        justify-content: center;
        align-items: center;

        .closeBtn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

    }

    .success-modal-container {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(rgb(230, 230, 230), 0.3);
        display: none;


        .success-modal {
            width: 50%;
            height: 50%;
            background-color: white;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

            h3 {
                margin-bottom: 50px;
            }

            button {
                width: 30%;
                height: 40px;
                border: none;
                background-color: yellowgreen;
                color: white;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
                cursor: pointer;
            }
        }

        .success-modal-action {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@keyframes showInput {
    0% {
        border-color: black;
    }

    100% {
        border-bottom: 2px solid red;
    }
}

@media screen and (max-width : 479px) {
    .login-container {
        .login-area {
            width: 80%;

            .form-area {
                width: 100%;
            }
        }

        .join-modal {
            width: 95%;

            form {
                width: 90%;
            }
        }
    }

    @keyframes showInput {
        0% {
            border-color: black;
        }

        100% {
            border-bottom: 2px solid red;
        }
    }
}